.reviews {
   height: 700px;
}
.title_reviews {
    position: absolute;
    color: #BDBDBD;
    font-family: Lato;
    font-size: 20px;
    margin-top: 80px;
    margin-left: 230px;
}
.paragraf_reviews {
    position: absolute;
    font-family: Merriweather;
    font-size: 38px;
    margin-left: 230px;
    margin-top: 130px;
}
.thanks_container {
    position: absolute;
    width: 655px;
    height: 200px;
    background: #EBEBEB;
    margin-left: 230px;
    margin-top: 260px;
    padding: 35px 80px;
}
.message {
    font-family: Lato;
    height: 80px;
    font-size: 15px;
}
.image_user {
    position: absolute;
    margin-top: 40px;
}
.user_name {
    position: absolute;
    margin-left:100px;
    margin-top: 60px;
    font-family: Lato;
    font-size: 17px;
}
.user_position {
    position: absolute;
    margin-top: 85px;
    margin-left: 100px;
    font-family: Lato;
    font-size: 13px;
}
.slider_icones {
    position: absolute;
    width: 110px;
    margin-left: -79px;
    margin-top: 230px;
    display: flex;
    justify-content: space-between;
}
.slider_Btns {
    position: absolute;
    margin-top: 190px;
    margin-left: 635px;
    display: flex;
    width: 100px;
    height: 50px;
}